# Virtual environment
/venv

# Ignore Jupyter checkpoints
**/.ipynb_checkpoints

# Ignore all __pycache__ directories
**/__pycache__

# Ignore all Luigi logs
**/luigi.log

# Ignore experiments output
/experiments_pipeline/experiments

